/* Swiper.module.css */
.swiperContainer {
  width: 100%;
  min-height: 300px;
  padding-bottom: 2.5rem; /* Create space for pagination dots */
  row-gap: 1rem; /* space-y-4 equivalent */
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperPagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem; /* space-x-2 equivalent */
  margin-top: 2rem; /* mt-8 equivalent */
}

.swiperPaginationBullet {
  width: 1rem; /* w-4 equivalent */
  height: 1rem; /* h-4 equivalent */
  background-color: #0b0c0c; /* bg-gray-300 equivalent */
  border-radius: 9999px; /* rounded-full equivalent */
  opacity: 1 !important; /* Ensure visibility */
  display: inline-block !important; /* Ensure the dots are visible */
}

.swiperPaginationBulletActive {
  background-color: #7c3aed; /* bg-purple-500 equivalent */
  opacity: 1 !important; /* Ensure visibility */
}
